.item-actions {
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 40px; 
}

.modify-scores-button {
    background-color: var(--primary-color-darker);
    width: auto; 
    padding: 10px 20px; 
}
