.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    background-color: var(--background-color); 
}

.login-form {
    background-color: var(--component-dark);
    border-radius: 15px;
    box-shadow: 0 0 20px var(--background-shadow);
    padding: 20px; 
    width: 100%;
    max-width: 500px; 
    text-align: center;
    box-sizing: border-box;
}
